<!DOCTYPE html>
<html>
    <head>
        <title>Connected Care</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <!-- Add base html here. -->
        <nav>
            <a href="/">Home</a>
     
            <div>
                <a href="/create_post">Create Post</a>
                <a href="/create_profile">Add New Client</a>
                <a href="/messages">Write Message</a>
                <a href="/login">Log In</a>
                <a href="/">Log Out</a>

            </div>
        </nav>
        
    
        
        {% block content %}{% endblock %}
    </body>
</html>
