{% extends 'base.html' %}
{% block content %}

<h1>Client Detail</h1>

<strong>Client:</strong> {{client.first_name}} {{client.last_name}}



<h5>Activities Attended</h5>

<div class="activities">
    {% for activity in client.activities_attended %}
    <div class="activity-details">
        <a href="/activity/{{ activity.id }}"></a>
        <p><strong>{{ activity.name }}</strong></p>
        <p><strong>{{ activity.date }}</strong></p>
    </div>
    {% endfor %}
</div>

    <a href="/edit-client{{ client_id }}">Edit Client</a>

{% endblock %}