{% extends 'base.html' %}
{% block content %}

<h1>Client Detail</h1>

<strong>Client:</strong> {{client.first_name}}{{client.last_name}}



<h2>Activities Attended</h2>

<div class="activities">
    {% for activity in client.activities_attended %}
    <div class="activity-details">
        <a href="/activity/{{ activity.id }}">
        <p><strong>{{ activity.name }}</strong></p></a>
        <p><strong>{{ activity.date }}</strong></p>
    </div>
    {% endfor %}
</div>


<h2>Edit Client</h2>

<form method="POST", action="{{ url_for('main.client_detail', client_id=client.id ) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit this Client:</legend>

        {% extends 'client-form.html' %}

    </fieldset>
</form>

{% endblock %}