{{ form.first_name.label }}
{{ form.first_name }}
<ul>
{% for error in form.first_name.errors %}
    <li class="error">{{ error }}</li>
{% endfor %}
</ul>

{{ form.last_name.label }}
{{ form.last_name }}
<ul>
{% for error in form.last_name.errors %}
    <li class="error">{{ error }}</li>
{% endfor %}
</ul>

{{ form.room_number.label }}
{{ form.room_number }}
<ul>
{% for error in form.room_number.errors %}
    <li class="error">{{ error }}</li>
{% endfor %}
</ul>

{{ form.date_of_birth.label }}
{{ form.date_of_birth(placeholder="YYYY-mm-dd") }}
<ul>
{% for error in form.date_of_birth.errors %}
    <li class="error">{{ error }}</li>
{% endfor %}
</ul>

{{ form.diet.label }}
{{ form.diet }}
<ul>
{% for error in form.diet.errors %}
    <li class="error">{{ error }}</li>
{% endfor %}
</ul>

{{ form.start_date.label }}
{{ form.start_date(placeholder="YYYY-mm-dd") }}
<ul>
{% for error in form.start_date.errors %}
    <li class="error">{{ error }}</li>
{% endfor %}
</ul>

