{% extends 'base.html' %}
{% block content %}
<form method="POST" action="/create-message">
    {{ form.csrf_token }}

    <h2>Compose Message</h2>

    {{ form.to.label }}
    {{ form.to }}
    <ul>
    {% for error in form.to.errors %}
        <li class="error">{{ error }}</li>
    {% endfor %}
    </ul>



    {{ form.subject.label }}
    {{ form.subject(placeholder="subject") }}
    <ul>
    {% for error in form.subject.errors %}
        <li class="error">{{ error }}</li>
    {% endfor %}
    </ul>
    
    {{ form.message_body.label }}
    {{ form.message_body(placeholder="write your message here") }}
    <ul>
    {% for error in form.message_body.errors %}
        <li class="error">{{ error }}</li>
    {% endfor %}
    </ul>

    {{ form.photo_url.label }}
    {{ form.photo_url(placeholder="add photo URL (optional)") }}
    <ul>
    {% for error in form.photo_url.errors %}
        <li class="error">{{ error }}</li>
    {% endfor %}
    </ul>
    
    {{ form.submit }}

</form>

{% endblock %}