{% extends 'base.html' %}
{% block content %}

<h1>Connected Care</h1>
<p>The bridge between family and caregiver.</p>

{% if current_user.is_authenticated %}
<h3>Your Clients:</h3>

{% if clients %}
    {% for client in all_clients %}
        <li><a href="/client/{{ client_id }}">{{client.first_name}}{{client.last_name}}</a></li>
    {% endfor %}

{% else %}
    <p>Any clients you have will be listed in this space. <a href="/create-client">Click here to add a new Client.</a></p>
{% endif %}

{% endif %}
{% endblock %}
