{% extends 'base.html' %}
{% block content %}

<h4>Account Details</h4>

<h1><strong>{{user.first_name}} {{user.last_name}}</strong></h1>

<div>
    <li><strong>username: </strong>{{user.username}}</li>
    <li><strong>email address: </strong>{{user.email}}</li> 
    <li><strong>connected to clients: </strong>{{user.connected_to_clients}}</li> 
    <li><strong>relation to clients: </strong>{{user.relation_to_clients}}</li> 
    <li><strong>role: </strong>{{user.role}}</li> 
</div>
<h2>Messages</h2>

<div class="messages">
    {% for message in user.messages_sent %}
    <div class="message-details">
        <a href="/messages/{{ message.id }}">
        <p><strong>{{ message.name }}</strong></p></a>
        <p><strong>{{ message.date }}</strong></p>
    </div>
    {% endfor %}
</div>


<a href="/edit-user/{{ user.id }}">Edit User</a>

{% endblock %}